$base-color: #6D95A5;
$almost-black: #292729;
$light-blue: #86BFE1;
$deep-magenta: #7E425E;
$white: #FFFEFF;
$taupe: #ACAAAC;
$grey: #575557;
$pink-brown: #AD7873;

.link.true {
  background-color: $grey;
  color: $white;
  text-decoration: line-through;
  border-width: thick;
  border-style: solid;
  border-color: $deep-magenta;
}

.link {
  margin: 2px;
  padding-top: 5px;
  width: 30%;
  height: 225px;
  border-color: $light-blue;
  border-width: thick;
  border-style: solid;
}


#hot {
  text-decoration: underline;
  color: $base-color;
  font-size: 20px;
  text-align: center;
}

.hottest {
  color: $pink-brown;
  text-align: center;
}
